footer{
    background-color: var(--primary);
}
.footer-row{
    padding: 23px 0px;
}
.footer-sloy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer-logo */
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.footer-logo img{
    cursor: pointer;
}
.footer-logo-tel{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
    color: var(--secondary-text);
}
.footer-logo-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.13px;
    text-align: left;
    color: rgba(134, 146, 139, 1);
}
/* footer-col */
.footer-col{
    display: flex;
    gap: 60px;
}
.footer-col h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
    color: var(--secondary-text);
}
.footer-col p{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(134, 146, 139, 1);
}
.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-nav h3,p{
    cursor: pointer;
}

/*  */
.footer-social{
    display: flex;
    flex-direction: column;
    gap: 13.5px;
    margin-bottom: 40px;
}
.footer-social-img{
    display: flex;
    align-items: center;
    gap: 33px;
}
.footer-social-img img{
    cursor: pointer;
}
.footer-social p{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    text-align: left;
    color:rgba(134, 146, 139, 1);
}


