header{
    background-color: var(--primary);
    padding: 32px 33px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo h1 {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.48px;
    text-align: left;
    color: var(--primary-text);
}
nav{
    display: flex;
    gap: 61px;
}
.nav-link{
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.nav-link:hover{
    color: var(--primary-text);
    text-decoration: underline 2px solid var(--secondary-text);
}
nav img{
    cursor: pointer;
}
